In [16]:
import pandas as pd
csvread= pd.read_csv('RT-ep1.csv',header=None)

In [21]:
csvread

,0,1
0,انطلقوا باتجاه 7.25 شمالاً .,Seven twenty-five north.
1,لنذهب ، يجب أن نخمد الحريق، يا رجال نحتاج لتلك...,Let’s go. We’ve got to put out a house fire. ...
2,انطلقوا باتجاه 7.25 شمالاً .,Seven twenty-five north.
3,عندما وصلنا رأينا ألعاباً في الخارج لذا بدأنا ...,Let’s go. We’ve got to put out a house fire. ...
4,يبذل الإطفائيّون كلّ جهدهم، تمتدّ النيران بسرع...,Seven twenty-five north.Let’s go. We’ve got t...

In [28]:
len(csvread.index)-1

4

In [35]:
csvread[1][len(csvread.index)-1]='fssf'

,0,1
0,انطلقوا باتجاه 7.25 شمالاً .,Seven twenty-five north.
1,لنذهب ، يجب أن نخمد الحريق، يا رجال نحتاج لتلك...,Let’s go. We’ve got to put out a house fire. ...
2,انطلقوا باتجاه 7.25 شمالاً .,Seven twenty-five north.
3,عندما وصلنا رأينا ألعاباً في الخارج لذا بدأنا ...,Let’s go. We’ve got to put out a house fire. ...
4,يبذل الإطفائيّون كلّ جهدهم، تمتدّ النيران بسرع...,fssf